<% if holdings.present? %>
  <h2><%= t("institutions.#{institution.downcase}") %></h2>

  <% holdings.each do | holding | %>
     <div class="holding">
       <h4>
         <%= holding["library"] %>, <%= holding["collection"] %>
         <a item="0" href="/primo_library/libweb/tiles/local/map.jsp?xml=%3C%3Fxml+version%3D%221.0%22+encoding%3D%22UTF-8%22%3F%3E%0D%0A%3Crecords%3E%0D%0A++%3Ctitle%3EARSC+journal%3C%2Ftitle%3E%0D%0A++%3Ccreator%3EBob%3C%2Fcreator%3E%0D%0A++%3Crecord%3E%0D%0A++++%3Csystem_base%3Endu_aleph%3C%2Fsystem_base%3E%0D%0A++++%3Csystem_number%3E002429316%3C%2Fsystem_number%3E%0D%0A++++%3Ccall_number%3EML+1+.A84%3C%2Fcall_number%3E%0D%0A++++%3Csublibrary+code%3D%22HESB%22%3EHesburgh+Library%3C%2Fsublibrary%3E%0D%0A++++%3Ccollection+code%3D%22MUS%22%3EMusic+Collection+%282nd+Floor%29%3C%2Fcollection%3E%0D%0A++%3C%2Frecord%3E%0D%0A%3C%2Frecords%3E"
           class="mbox btn btn-default btn-xs">Map
         </a>
       </h4>
       <p class="call-number">
         <%= holding["call_number"] %>
         <br />
         <% if holding["non_circulating"] %>
           <span class="label label-warning">In-Library Use Only </span>
         <% elsif holding["available"] %>
           <span class="label label-success">Available</span>
         <% else %>
           <span class="label label-danger">Not Available, Due: <%= holding["available_on"] %></span>
           -
           <a type="button" href="#" class="mrecall btn btn-default btn-xs">Recall</a>
           <a type="button" target="_blank" href="https://nd.illiad.oclc.org/illiad/IND/illiad.dll/OpenURL?<%= record["openurl_query"] %>" class="btn btn-default btn-xs">Get from InterLibrary Loan</a>
         <% end %>
       </p>
       <%= ul_list("", holding["notes"], "list-unstyled") %>
       <% if holding["holdings"].present? || holding["supplements"].present? || holding["indexes"].present? %>
         <a class="more" role="button" data-toggle="collapse" href="#collapse-<%= id_from_strings(holding["library"], holding["collection"]) %>" aria-expanded="false" aria-controls="collapseExample">
           More
         </a>
         <div class="collapse" id="collapse-<%= id_from_strings(holding["library"], holding["collection"]) %>">
           <div class="well">
             <div class="pull-right">
               <a class="btn btn-default" role="button" target="_blank" href="<%= holding["detail_url"] %>">
                 Item Details
               </a>
             </div>
             <%= ul_list("Holdings", holding["holdings"], "list-unstyled")%>
             <%= ul_list("Supplements", holding["supplements"], "list-unstyled")%>
             <%= ul_list("Indexes", holding["indexes"], "list-unstyled")%>
           </div>
         </div>
       <% end %>
     </div>
   <% end %>
   <hr />
<% end %>
