<% if holdings.present? %>
  <h2><%= t("institutions.#{institution.downcase}") %></h2>

  <% holdings.each do | holding | %>
     <div class="holding">
       <h4>
         <%= holding["library"] %>, <%= holding["collection"] %>
         <a item="0" href="/primo_library/libweb/tiles/local/map.jsp" value="%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Crecords%3E%3Ctitle%3EARSC%20journal%3C%2Ftitle%3E%3Ccreator%2F%3E%3Curls%3E%24%24Uhttp%3A%2F%2Ffindtext.library.nd.edu%3A8889%2Fndu%255Flocal%3Furl%255Fver%3DZ39.88-2004%26amp%3Bctx%255Fver%3DZ39.88-2004%26amp%3Bctx%255Fen%3Furl%255Fver%3DZ39.88-2004%26amp%3Bctx%255Fver%3DZ39.88-2004%26amp%3Bctx%255Fenc%3Dinfo%3Aofi%2Fenc%3AUTF-8%26amp%3Brfr%255Fid%3Dinfo%3Asid%2Fsfxit.com%3Aopac%255F856%26amp%3Burl%255Fctx%255Ffmt%3Dinfo%3Aofi%2Ffmt%3Akev%3Amtx%3Actx%26amp%3Bsfx.ignore%255Fdate%255Fthreshold%3D1%26amp%3Brft.object%255Fid%3D3610000000000019%26amp%3Bsvc%255Fval%255Ffmt%3Dinfo%3Aofi%2Ffmt%3Akev%3Amtx%3Asch%255Fsvc%26amp%3B%24%24DNotre%20Dame%20Online%20Access%3A%3A%3C%2Furls%3E%3Crecord%3E%3Csystem_base%3Endu_aleph%3C%2Fsystem_base%3E%3Csystem_number%3E002429316%3C%2Fsystem_number%3E%3Ccall_number%3ECurrent%20Issues%20in%20the%20Current%20Periodicals%20Center%3C%2Fcall_number%3E%3Csublibrary%20code%3D%22CPC%22%3EHesburgh%20Current%20Periodicals%3C%2Fsublibrary%3E%3Ccollection%20code%3D%22GEN%22%2F%3E%3Choldings%2F%3E%3Cavailability%2F%3E%3Citem_status%3Eno%20items%3C%2Fitem_status%3E%3C%2Frecord%3E%3Crecord%3E%3Csystem_base%3Endu_aleph%3C%2Fsystem_base%3E%3Csystem_number%3E002429316%3C%2Fsystem_number%3E%3Ccall_number%3EML%201%20.A84%3C%2Fcall_number%3E%3Csublibrary%20code%3D%22HESB%22%3EHesburgh%20Library%3C%2Fsublibrary%3E%3Ccollection%20code%3D%22MUS%22%3EMusic%20Collection%20%282nd%20Floor%29%3C%2Fcollection%3E%3Choldings%3E%26lt%3Bdiv%20style%3D%27display%3Ainline%3B%20font-weight%3A90%25%3B%20float%3Aleft%3B%20padding%3A2px%202px%202px%202px%3B%20margin%3A%202px%202px%201px%200px%3B%27%26gt%3B%26lt%3Bi%26gt%3BCurrent%20issues%20in%20Periodicals%20Center.%20%20Currently%20received.%26lt%3B%2Fi%26gt%3B%26lt%3B%2Fdiv%26gt%3B%26lt%3Bdiv%20style%3D%27clear%3Aboth%3B%27%26gt%3B%26lt%3B%2Fdiv%26gt%3B%20%26lt%3Bdiv%20style%3D%27display%3Ainline%3B%20float%3Aleft%3B%20padding%3A2px%202px%202px%202px%3B%20margin%3A%202px%202px%201px%200px%3B%27%26gt%3B%26lt%3Bsubfield%20label%3D%22a%22%26gt%3Bv.40%282009%29-v.45%282014%29%26lt%3B%2Fsubfield%26gt%3B%26lt%3B%2Fdiv%26gt%3B%26lt%3Bdiv%20style%3D%27clear%3Aboth%3B%27%26gt%3B%26lt%3B%2Fdiv%26gt%3B%3C%2Fholdings%3E%3Cavailability%3Eavailable%3C%2Favailability%3E%3Citem_status%3ECurrent%20Issue%3C%2Fitem_status%3E%3C%2Frecord%3E%3Citem_ids%3E002429316%3C%2Fitem_ids%3E%3Citem_number%3E6%3C%2Fitem_number%3E%3C%2Frecords%3E%0A" class="mbox btn btn-default btn-xs">Map</a>
       </h4>
       <p class="call-number">
         <%= holding["call_number"] %>
         <br />
         <% if holding["non_circulating"] %>
           <span class="label label-warning">In-Library Use Only </span>
         <% elsif holding["available"] %>
           <span class="label label-success">Available</span>
         <% else %>
           <span class="label label-danger">Not Available, Due: <%= holding["available_on"] %></span>
           -
           <a type="button" href="#" class="mrecall btn btn-default btn-xs">Recall</a>
           <a type="button" target="_blank" href="https://nd.illiad.oclc.org/illiad/IND/illiad.dll/OpenURL?<%= record["openurl_query"] %>" class="btn btn-default btn-xs">Get from InterLibrary Loan</a>
         <% end %>
       </p>
       <%= ul_list("", holding["notes"], "list-unstyled") %>
       <% if holding["holdings"].present? || holding["supplements"].present? || holding["indexes"].present? %>
         <a class="more" role="button" data-toggle="collapse" href="#collapse-<%= id_from_strings(holding["library"], holding["collection"]) %>" aria-expanded="false" aria-controls="collapseExample">
           More
         </a>
         <div class="collapse" id="collapse-<%= id_from_strings(holding["library"], holding["collection"]) %>">
           <div class="well">
             <div class="pull-right">
               <a class="btn btn-default" role="button" target="_blank" href="<%= holding["detail_url"] %>">
                 Item Details
               </a>
             </div>
             <%= ul_list("Holdings", holding["holdings"], "list-unstyled")%>
             <%= ul_list("Supplements", holding["supplements"], "list-unstyled")%>
             <%= ul_list("Indexes", holding["indexes"], "list-unstyled")%>
           </div>
         </div>
       <% end %>
     </div>
   <% end %>
   <hr />
<% end %>
