<% content_for(:title, @record.page_title) %>
<h3>Debug ID: <%= @record.object.id %></h3>

<%= render(partial: 'detail_section', locals: { title_key: false, content: @record.detail_content(@record.detail_methods) } ) %>

<%= render(partial: 'detail_section', locals: { title_key: 'other_titles', content: @record.detail_content(@record.other_titles_methods) } ) %>

<%= render(partial: 'detail_section', locals: { title_key: 'related_works', content: @record.detail_content(@record.related_works_methods) } ) %>

<%= render(partial: 'detail_section', locals: { title_key: 'identifiers', content: @record.detail_content(@record.identifiers_methods) } ) %>
