<% content_for(:title, @record.page_title) %>

<div id="ndl-request-form">
  <h1>Request <%= @record.page_title %></h1>

  <div>
    Volume:
    <% if @record.volumes.count > 1 %>
      <%= select_tag(:volume, @record.volume_option_tags, prompt: "Select Volume", id: "ndl-request-form-volume") %>
    <% elsif @record.volumes.count == 1 %>
      <%= @record.volumes.first.title %>
      <%= hidden_field_tag(:volume, @record.volumes.first.id, id: "ndl-request-form-volume") %>
    <% end %>
  </div>

  <% @record.volumes.each do |volume| %>
    <div id="ndl-request-volume-<%= volume.id%>" class="ndl-request-volume">
      From Institution:
      <% if volume.items.count > 1 %>
        <%
        item_options = options_from_collection_for_select(volume.items, 'id', 'institution_title')
        %>
        <%= select_tag(:item, item_options, prompt: "Select Institution for #{volume.title}", class: "ndl-request-form-item") %>
      <% elsif volume.items.count == 1 %>
        <%= volume.items.first.institution_title %>
        <%= hidden_field_tag(:item, volume.items.first.id, class: "ndl-request-form-item") %>
      <% end %>
      <% volume.items.each do |item| %>
        <div id="ndl-request-item-<%= item.id %>" class="ndl-request-item">
          Pickup Location:
          <%
          pickup_options = options_from_collection_for_select(item.pickup_locations, 'id', 'title')
          %>
          <%= select_tag(:pickup_location, pickup_options, class: "ndl-request-form-location") %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div id="ndl-request-form-submit-container">
    <p>
      <label><input type="checkbox" name="use_end_date" id="use_end_date"> Set Cancel Request date</label>
      <span class="ndl-cancel_date_input">
        <input type="date" id="cancel_date_input" name="cancel_date">
        <span class="ndl-cancel_date_input_help">Your request will be canceled if you have not received the item by this date.</span>
      </span>
    </p>

    <%= submit_tag('Submit', id: 'ndl-request-form-submit') %>
  </div>

</div>
