<div class="ndl-request-container EXLRequestTabContent" data-title="<%= @record.page_title %>">
  <% if @record.patron_id.present? %>
    <% content_for(:title, @record.page_title) %>
    <h2>Request
      <%= @record.page_title %></h2>
    <div class="ndl-request">
      <% if @record.request_links %>
        <% @record.request_links.each do | r | %>
          <p><a target="_blank" href="<%= r.url %>"><%= r.title %></a></p>
        <% end %>
      <% end %>
      <% if @record.volumes.count > 0 %>
        <%= form_tag(place_request_path, method: "post", id: 'ndl-request-form') do %>
          <div class="ndl-request-row <%= @record.single_volume? ? 'ndl-request-single-volume' : '' %>">
            <span class="ndl-request-label">Volume:</span>
            <span class="ndl-request-field">
              <% if @record.volumes.count > 1 %>
                <%= select_tag(:volume, @record.volume_option_tags, prompt: "Select Volume", class: "ndl-request-form-volume") %>
              <% elsif @record.volumes.count == 1 %>
                <%= @record.volumes.first.title %>
                <%= hidden_field_tag(:volume, @record.volumes.first.id, class: "ndl-request-form-volume") %>
              <% end %>
            </span>
          </div>
          <% @record.volumes.each do |volume| %>
            <div id="ndl-request-volume-<%= volume.id%>" class="ndl-request-volume" data-title="<%= volume.title %>">
              <div class="ndl-request-row">
                <span class="ndl-request-label">From Institution:</span>
                <span class="ndl-request-field">
                  <% if volume.items.count > 1 %>
                    <%= select_tag(:item, @record.item_options(volume.items), class: "ndl-request-form-item") %>
                  <% elsif volume.items.count == 1 %>
                    <%= volume.items.first.institution_title %>
                    <%= hidden_field_tag(:item, volume.items.first.id, class: "ndl-request-form-item") %>
                  <% end %>
                </span>
              </div>
              <% volume.items.each do |item| %>
                <div id="ndl-request-item-<%= item.id %>" class="ndl-request-item ndl-request-row" data-institution_title="<%= item.institution_title %>">
                  <%= hidden_field_tag(:request_id, item.encrypted_item_id, class: "ndl-request-form-request-id") %>
                  <span class="ndl-request-label">Pickup Location:</span>
                  <span class="ndl-request-field">
                    <%= select_tag(:pickup_location, @record.pickup_options(item), class: "ndl-request-form-location") %>
                  </span>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="ndl-request-form-submit-container">
            <div class="ndl-request-row">
              <span class="ndl-request-label">
                Cancel Request After:</span>
              <span class="ndl-request-field">
                <%= text_field_tag(:cancel_date, @record.default_cancel_date_string, class: 'ndl-cancel-date date-pick') %>
                <span class="ndl-request-help">Your request will be canceled if you have not received the item by this date.</span>
              </span>
            </div>
            <div class="ndl-request-row">
              <span class="ndl-request-label"></span>
              <%= submit_tag('Request', class: 'ndl-request-form-submit submit') %>
              <span class="ndl-request-loading ndl-hidden"></span>
            </div>
          </div>
          <div class="ndl-request-failure ndl-hidden"><p>There was a problem placing your request.
              <span class="ndl-request-failure-message"></span></p></div>
        <% end %>
      <% elsif @record.request_links.size == 0 %>
        Unable to request items. See location tab for availability information.
      <% end %>
    </div>
    <div class="ndl-request-success ndl-hidden">
      <p>Your request was successfully placed.
        <span class="ndl-request-success-message"></span></p>
    </div>
  <% else %>
    <div class="EXLRequestSystemFeedback">
      <span>
        <%= @record.signin_link %>
      </span>
    </div>
  <% end %>
</div>
