<% content_for(:title, @record.page_title) %>
<h1>Select Volume/Issue</h1>
<p>This work has multiple volumes/issues.  Please select the volume issue want to receive. </p>

<p>
  <%= select_tag(:volume, @record.volume_option_tags, prompt: "Select Volume") %>
</p>

<% @record.volumes.each do |volume| %>
  <div id="volume-<%= volume.id%>">
    <%
    item_options = options_from_collection_for_select(volume.items, 'id', 'institution_code')
    %>
    <%= select_tag(:item, item_options, prompt: "Select Institution for #{volume.title}") %>
    <% volume.items.each do |item| %>
      <div id="item-<%= item.id %>">
        <%
        pickup_options = options_from_collection_for_select(item.pickup_locations, 'id', 'title')
        %>
        <%= select_tag(:pickup_location, pickup_options, prompt: "Select Pickup Location for #{item.title} #{item.id}") %>
      </div>
    <% end %>
  </div>
<% end %>

