<% content_for(:title, @record.page_title) %>
<h1>Select Volume/Issue</h1>
<p>This work has multiple volumes/issues.  Please select the volume issue want to receive. </p>

<p>
  <%= select_tag(:volume, @record.volume_option_tags, prompt: "Select Volume") %>
</p>

<% @record.volumes.each do |volume| %>
  <div id="volume-<%= volume.id%>">
    <%
    options = options_from_collection_for_select(volume.items, 'id', 'institution_code')
    %>
    <%= select_tag(:item, options, prompt: "Select Institution for #{volume.title}") %>
    <% volume.items.each do |item| %>
      <p><%= volume.title %>: <%= item.id %></p>
    <% end %>
  </div>
<% end %>

