<% if institution.display_content? %>
  <h2><%= t("institutions.#{institution.id}") %></h2>
  <ul>
    <% institution.fulltext.each do | link | %>
      <li>
        <%= link.link %>
        <%= link.notes %>
      </li>
    <% end %>
    <% if institution.sfx_link %>
      <li><%= institution.sfx_link %></li>
    <% end %>
    <% if institution.display_ill_link? %>
      <li><%= institution.ill_link %></li>
    <% end %>
    <% if institution.display_report_a_problem? %>
      <li><%= institution.report_a_problem_link %></li>
    <% end %>
  </ul>
<% end %>
