<div class="ndl-online-access">
  <h3 class="ndl-debug">Debug ID: <%= @tab.record_id %></h3>

  <% if institution = @tab.primary_institution %>
    <% if institution.has_fulltext_links? %>
      <h2><%= t("institutions.#{institution.id}") %></h2>
      <%= render partial: 'institution', locals: { institution: institution } %>
    <% end %>
  <% end %>
  <% @tab.other_institutions.each do |institution| %>
    <% if institution.has_fulltext_links? %>
      <h2><%= t("institutions.#{institution.id}") %></h2>
      <%= render partial: 'institution', locals: { institution: institution } %>
    <% end %>
  <% end %>
</div>
