<% content_for(:title, "Example Records") %>

<h1>Examples</h1>
<h2><%= @example_collection.title %></h2>
<h3>Tabs</h3>
<% @example_collection.tab_links.each do |tab| %>
  <%= tab %> &nbsp;
<% end %>
<h3>Records</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>ID</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @example_collection.records.each do |example| %>
      <tr>
        <td><%= truncate(example.title) %></td>
        <td><%= example.id %></td>
        <td><%= example.description %></td>
        <td><%= example.record_link %></td>
        <td><%= example.online_access_link %></td>
        <td><%= example.json_link %></td>
        <td><%= example.primo_proxy_link %></td>
        <td><%= example.primo_link %></td>
      </tr>
    <% end %>
  </tbody>
</table>
