<% content_for(:title, "Example Records") %>

<h1>Example Records</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>ID</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @examples.each do |example| %>
      <tr>
        <td><%= truncate(example.title) %></td>
        <td><%= example.id %></td>
        <td><%= example.description %></td>
        <td><%= example.record_link %></td>
        <td><%= example.json_link %></td>
        <td><%= example.primo_link %></td>
      </tr>
    <% end %>
  </tbody>
</table>
